.logout-button {
  /* position: fixed; */
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1000;
  margin-bottom: 20px;
}

.logout-button:hover {
  background-color: #c0392b;
}
